
.fs4{
    font-size: 4vw;
  }
  .fs3{
    font-size: 3vw;
  }
  .fs2{
    font-size: 2vw;
  }
  .fs1{
    font-size: 1vw;
  }
  .font-white{
    color: #fff;
  }
  .font-gray{
    color: #ffffff7c;
  }
  .font-gray:hover{
    color: #ffffff;
  }