@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.home{
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 6vw;
}
.home p{
    font-family: 'Monoton',cursive;
}