@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('./intropage.scss');
@import url('./navbar.css');
@import url('./terminal.scss');
@import url('./profile.scss');
.App{
    height: 100vh;
    background-color: rgba(0, 0, 0);
    background-image: radial-gradient(rgba(29, 78, 216, 0.15), transparent 80%);
    color: white;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif !important;
}
.cursor{
    position: absolute;
    z-index: 10000;
    background-color: white;
    mix-blend-mode: difference;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    animation: rotater 2s infinite ;
}
.vh100{
    height: 100vh;
}
@keyframes rotater {
    0%{
        width: 5vw;
        height: 5vw;
        transform: rotateY(0deg) translate3d(0vw,0vw,0vw);
    }
    35%{
        width: 1vw;
        height: 1vw;
        transform: rotateY(180deg) translate3d(2vw,1vw,5vw);
    }
    70%,100%{
        width: 5vw;
        height: 5vw;
        transform: rotateY(360deg) translate3d(0vw,0vw,0vw);
    }
}

.f15{
    font-size: 1.5rem;
    line-height: 2.7rem;
}
@media (max-width:425px) {
    .f15{
        font-size: 1.42rem;
    }
}
.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
