@import url('./intropage.scss');
@import url('./navbar.css');
@import url('./terminal.scss');
.cursor{
    position: absolute;
    z-index: 10000;
    background-color: white;
    mix-blend-mode: difference;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    animation: rotater 2s infinite ;
}
@keyframes rotater {
    0%{
        width: 5vw;
        height: 5vw;
        transform: rotateY(0deg) translate3d(0vw,0vw,0vw);
    }
    35%{
        width: 1vw;
        height: 1vw;
        transform: rotateY(180deg) translate3d(2vw,1vw,5vw);
    }
    70%,100%{
        width: 5vw;
        height: 5vw;
        transform: rotateY(360deg) translate3d(0vw,0vw,0vw);
    }
}