.blackbg{
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 6vw;
}

.change_outer {
    height:8vw;
    width: max-content;
    overflow: hidden;
}  
.outer-text{
	font-weight:100 ;
}
.change_inner{
    animation: rotate 10s infinite;    
}
.element {
    display: block;
    font-weight: 300;
	text-align: center;
}
@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY(-9vw);
	}
	50%,70% {
		transform: translateY(-18vw);
	}
	75%,95% {
		transform: translateY(-27vw);
	}
	100% {
		transform: translateY(-90vw);
	}
}
@media (max-width : 430px) {
	
.home{
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 6vh;
}

.change_outer {
    height:8vh;
    width: max-content;
    overflow: hidden;
}  
.change_inner{
    animation: rotate 10s infinite;    
}
.element {
    display: block;
    font-weight: 400;
}
.element:nth-child(3){
	font-weight: 100;
}
.element:nth-child(2){
	font-weight: 300;
}
@keyframes rotate {
	0%, 20% {
		transform: translateY(0);
	}
	25%,45% {
		transform: translateY(-9vh);
	}
	50%,70% {
		transform: translateY(-18vh);
	}
	75%,95% {
		transform: translateY(-27vh);
	}
	100% {
		transform: translateY(-90vh);
	}
}

}