.stackcard{
    border: 1px solid rgba(6, 194, 150, 0.664);
    color: rgba(6, 194, 150, 0.664);
    margin-right: 20px;
}
.stackcard h6{
    margin-bottom: 0;
}

.bg-gray-secondary {
    background-color: rgba(128, 128, 128, 0.199);
}
.text-green{
    color: rgba(6, 194, 150, 0.664);
}
.text-green-secondary{
    color: rgba(21, 126, 101, 0.61);
}